.page{
  background-color:rgba(255, 255, 255, 0.644);
  margin: 10px;
  font-family: Arial;
}

.ft1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border-radius: 50%;
}
.h1{font-size:40px}
.h2{font-size:30px}
.head{
  background-color:rgb(173, 85, 190);
  background-image: linear-gradient(to bottom right, rgb(213, 227, 238), rgb(178, 213, 240),rgb(221, 145, 240),rgb(173, 85, 190));
  padding: 30px;
  margin: 10px;
  text-align:center;
  font-family:'Helvetica', Arial, sans-serif;
  color:rgb(255, 255, 255);
}

.button{
 background-color: silver;
 align: center;
 margin: 0px 10px 0px 10px;
 width: 1118px;
 padding: 15px;
 text-align:center;
 border:none;
 color: grey;
}

.button:hover{
  background-color: grey;
  color: silver;
}

.coluna{
  float:left;
  padding: 9px;
  margin: 13px;
}

.coluna.lateral{
  width: 20%;
  height: 750px;
  text-align:justify;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: grey;
  overflow:auto;
}

.coluna.meio{
  width: 48%;
  height: 750px;
  text-align:center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color:grey;
}

.row {align: center;}
.row:after{
  content: "";
  display: table;
  clear: both;
}
.row.segunda{
  width: 1100px;
  height: 230px;
  margin: 10px 10px 10px 10px;
  padding: 5px;
  text-align:center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color:grey;

}

.overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.media{
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  color: rgb(203, 222, 236);
}
a:link {
  text-decoration: none;
  color:grey;
}

a:visited {
  text-decoration: none;
  color:grey;
}

a:hover {
  text-decoration: none;
  color: silver;
}

a:active {
  text-decoration: none;
  color:grey;
}
.en {
    background: rgb(240, 240, 240);
    border-radius: 15px;
    width: 100%;
    margin: 5px 0px 5px 0px;
}
.a {
  background: rgb(173, 85, 190);
  border-radius: 15px;
  width: 100%;
  text-align: center;
  color:white;
}
.es {
    background: rgb(240, 240, 240);
    border-radius: 15px;
    width: 100%;
    margin: 5px 0px 5px 0px;
}
.b {
  background: rgb(173, 85, 190);
  border-radius: 15px;
  width: 50%;
  text-align: center;
  color:white;
}
.ge {
    background: rgb(240, 240, 240);
    border-radius: 15px;
    width: 100%;
    margin: 5px 0px 5px 0px;
}
.c {
  background: rgb(173, 85, 190);
  border-radius: 15px;
  width: 75%;
  text-align: center;
  color:white;
}
.doc {
    background: rgb(240, 240, 240);
    border-radius: 15px;
    width: 100%;
    margin: 5px 0px 5px 0px;
}
.d {
  background: rgb(173, 85, 190);
  border-radius: 15px;
  width: 90%;
  text-align: center;
  color:white;
}
.pptx {
    background: rgb(240, 240, 240);
    border-radius: 15px;
    width: 100%;
    margin: 5px 0px 5px 0px;
}
.e {
  background: rgb(173, 85, 190);
  border-radius: 15px;
  width: 80%;
  text-align: center;
  color:white;
}
.excel {
    background: rgb(240, 240, 240);
    border-radius: 15px;
    width: 100%;
    margin: 5px 0px 5px 0px;
}
.f {
  background: rgb(173, 85, 190);
  border-radius: 15px;
  width: 30%;
  text-align: center;
  color:white;
}
.html {
    background: rgb(240, 240, 240);
    border-radius: 15px;
    width: 100%;
    margin: 5px 0px 5px 0px;
}
.g {
    background: rgb(173, 85, 190);
    border-radius: 15px;
    width: 75%;
    color: white;
    text-align: center;

}
.php {
    background: rgb(240, 240, 240);
    border-radius: 15px;
    width: 100%;
    margin: 5px 0px 5px 0px;
}
.h {
  background: rgb(173, 85, 190);
  border-radius: 15px;
  width: 50%;
  text-align: center;
  color:white;
}
.js {
    background: rgb(240, 240, 240);
    border-radius: 15px;
    width: 100%;
    margin: 5px 0px 5px 0px;
}
.i {
  background: rgb(173, 85, 190);
  border-radius: 15px;
  width: 75%;
  text-align: center;
  color:white;
}
.css {
    background: rgb(240, 240, 240);
    margin: 5px;
    border-radius: 15px;
    width: 100%;
    margin: 5px 0px 5px 0px;
}
.j {
  background: rgb(173, 85, 190);
  border-radius: 15px;
  width: 60%;
  text-align: center;
  color:white;
}
.java {
    background: rgb(240, 240, 240);
    margin: 5px;
    border-radius: 15px;
    width: 100%;
    margin: 5px 0px 5px 0px;
}
.k {
  background: rgb(173, 85, 190);
  border-radius: 15px;
  width: 20%;
  text-align: center;
  color:white;
}

@media screen and (max-width:600px) {
  .coluna.lateral, .coluna.meio {
    width: 100%;
    height: 33%;
 }
}

.far.fa-calendar-alt {color:rgb(189, 216, 236)}
.fas.fa-user-graduate {color:rgb(130, 63, 143)}
.fas.fa-book-open {color:rgb(130, 63, 143)}
.fas.fa-briefcase {color:rgb(130, 63, 143)}
.fas.fa-user {color:rgb(130, 63, 143)}
.far.fa-envelope {color:rgb(130, 63, 143)}
.fas.fa-mobile-alt {color:rgb(130, 63, 143)}
.fab.fa-whatsapp {color:rgb(130, 63, 143)}
.fas.fa-globe-americas {color:rgb(130, 63, 143)}
.fab.fa-facebook-square{color:rgb(150, 199, 236)}
.fab.fa-instagram {color:rgb(221, 145, 240)}
.fab.fa-linkedin-in {color:MidnightBlue;}